In [55]:
# installing Selenium
#!pip install selenium

In [56]:
# importing important Libraries
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data

In [57]:
# Connecting to web driver
driver = webdriver.Chrome(r"C:\Users\user\Desktop\PYTHON\chromedriver_win32\chromedriver.exe")

In [58]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [59]:
# We'll open webpage with our web driver
driver.get(url)

In [60]:
# creating 4 empty list which will help to store required scrapped data in these list.

job_title=[]
job_location=[]
company_names=[]
experience_required=[]

In [61]:
# 1st we'll extract all the tags having the job_title
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="ca44f69b-91ca-46c7-b391-b54ed97578c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="c52d7992-f527-4169-9999-8c0d6ed17bf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="189485b9-dd28-432c-b240-3823b6af49f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="6e135b40-5e5a-414e-b7b7-137d843261a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="25fa76d3-0bac-4e10-86d4-f2603fab535b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="4b145649-4e1c-4dda-9306-f43d7f6ac13b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="a5007362-386c-4b71-b07c-09b5f654d117")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="ede38077-fbd6-4829-bb7a-f28d49f7d83c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="ba11f5bf-0262-4c27-928c-e8d5dd4627f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="fe38558c-63d4-485d-8239-518ae36b49f2")>]

In [62]:
# 10 text of the job titles are inside the tags which are extracted above
# now we'll run a loop to iterate over the tags to extract the text inside the empty list

for t in titles_tags:
    title=t.text
    job_title.append(title)
job_title[0:10]

['Immediate opening For Data Scientist/Data Analyst',
 'SAS AML Data Analyst / Trainee & Data Science, Python Trainee',
 'Hiring Data Analysts',
 'Hiring Data Analysts',
 'Data Analyst',
 'Business Data Analyst',
 'Data Analyst ( Predictive Modelling)',
 'Data Scientist / Data Analyst',
 'Data Analyst',
 'NiFi Data Analyst']

In [63]:
# 1st we'll extract all the tags having the job_location
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="1a25cb29-7053-485b-bb69-a74ccc61d03b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="c279d05f-57da-4886-aaf7-24d6ea9a892c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="ac5a82f6-4a99-4f9a-95b2-80471d14be17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="8167bb6a-b530-4718-b6b3-f74a545f8b90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="377d872a-cdb5-4f33-aba0-1b168440d6c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="8246ea6e-27d9-4779-a12a-0862eb9db9c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="d30e5e4d-90e4-488b-9a30-e3abe505250d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="d588edd2-93b7-4f8c-8401-748749a4fbfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="ef7f3fdd-98cc-4bdb-a093-4c909ef47d38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="a823b295-e369-4a5f-b1d6-6cef34c9ff7a")>]

In [64]:
# 10 text of the job location are inside the tags which are extracted above
# now we'll run a loop to iterate over the tags to extract the text inside the empty list

for t in location_tags:
    location=t.text
    job_location.append(location)
job_location[0:10]

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru(Whitefield)',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Pune, Delhi, Mumbai, Bengaluru, Hyderabad',
 'Bengaluru']

In [65]:
# 1st we'll extract all the tags having the company_name
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="1127254e-f2a2-4543-8871-99b92b6e84a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="c0dcae5e-ff88-4e0f-bc3f-4b21191095b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="3e6a0d4e-e095-4c70-8f92-17755afa1075")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="1367a668-8963-482b-aefb-dfe07c134c63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="740bdabe-97e3-40ae-8b91-eaf7c2db723b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="e0929799-c298-4bb3-891e-7dbc61023899")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="cb4922e4-295f-4ef9-acb4-746b7d269de1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="53e792f9-af77-48cf-9c73-5e47c8b145c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="1558629e-c4ad-4366-bc78-c380481abab6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="810f50c8-a128-4109-b2e8-e052a2ea09be")>]

In [66]:
# 10 text of the companies name are inside the tags which are extracted above
# now we'll run a loop to iterate over the tags to extract the text inside the empty list

for t in companies_tags:
    company=t.text
    company_names.append(company)
company_names[0:10]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'MagicBase Royal BD Pvt Ltd',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'Cognizant Technology Solutions India Ltd',
 'GENPACT India Private Limited',
 'AVE-Promagne',
 'Altimetrik India Pvt. Ltd',
 'Thinkbumblebee Analytics Pvt Ltd',
 'Capgemini Technology Services India Limited']

In [67]:
# 1st we'll extract all the tags having the experience_required
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="002c79cb-fc64-4032-9956-fd2fd8d037bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="9e9ca65e-b078-4e84-b8fa-19abf22b538b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="1bac320d-f6ca-4424-acbf-c2bc6e97b96a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="d1bcf61a-87f1-49db-83a3-93f070fbe3d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="5d70c8ac-ae6e-4ed7-9c98-a84fd005b6d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="12638f82-94bc-45e0-941d-646d18beb7e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="3ead82fb-4393-4959-a356-dd3828121214")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="ab8b535e-56d9-4ad8-9ba4-1306f665cf61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="c0bd14c9-c117-453b-920c-75f9416e1eef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fc3b033cdb75ce4c9c16b871d3b49c7", element="edcff09a-0a61-465b-9099-d23ca6697f4e")>]

In [68]:
# 10 text of the experience are inside the tags which are extracted above
# now we'll run a loop to iterate over the tags to extract the text inside the empty list

for t in experience_tags:
    experience=t.text
    experience_required.append(experience)
experience_required[0:10]

['0-3 Yrs',
 '0-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '2-3 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '3-6 Yrs',
 '4-6 Yrs']

In [69]:
print(len(job_title),len(job_location),len(company_names),len(experience_required))

20 20 20 20

In [70]:
jobs=pd.DataFrame({})
jobs['Title']=job_title
jobs['Location']=job_location
jobs['Company']=company_names
jobs['Experience']=experience_required

In [71]:
jobs[0:10]

,Title,Location,Company,Experience
0,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs
1,"SAS AML Data Analyst / Trainee & Data Science,...",Bengaluru(Whitefield),MagicBase Royal BD Pvt Ltd,0-5 Yrs
2,Hiring Data Analysts,Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
3,Hiring Data Analysts,Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
4,Data Analyst,Bengaluru,Cognizant Technology Solutions India Ltd,2-3 Yrs
5,Business Data Analyst,Bengaluru,GENPACT India Private Limited,3-6 Yrs
6,Data Analyst ( Predictive Modelling),Bengaluru,AVE-Promagne,2-5 Yrs
7,Data Scientist / Data Analyst,Bengaluru,Altimetrik India Pvt. Ltd,3-8 Yrs
8,Data Analyst,"Pune, Delhi, Mumbai, Bengaluru, Hyderabad",Thinkbumblebee Analytics Pvt Ltd,3-6 Yrs
9,NiFi Data Analyst,Bengaluru,Capgemini Technology Services India Limited,4-6 Yrs

In [72]:
driver.close()

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [73]:
# Connecting to web driver
driver = webdriver.Chrome(r"C:\Users\user\Desktop\PYTHON\chromedriver_win32\chromedriver.exe")

In [74]:
url ="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [75]:
# We'll open webpage with our web driver
driver.get(url)

In [76]:
# creating 4 empty list which will help to store required scrapped data in these list.

job_title=[]
job_location=[]
company_names=[]
job_description=[]

In [77]:
# 1st we'll extract all the tags having the job_title
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="eebbcb2e-356a-4490-8cd6-5d76daf69bfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="ee545022-78ab-406c-a7dc-7907e39df075")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="75f5d5b0-e4db-4afc-940f-645dd584deee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="9c25a91c-6125-4f02-bf06-6304bf353341")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="3efb57e8-19d3-4956-94ce-96c0a4263815")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="37cf4ccc-3d6a-43f7-af4a-46dce46800a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="29b27063-d1ed-4b48-9b33-128ee85d3060")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="d4a4f8ce-268c-4b1d-959d-715352741f98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="ae47eed1-02ee-4a7a-b156-0bfaa1da8924")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="d3f947a0-aa6e-48a1-b5b7-89b973a1d373")>]

In [78]:
# 10 text of the job titles are inside the tags which are extracted above
# now we'll run a loop to iterate over the tags to extract the text inside the empty list

for t in titles_tags:
    title=t.text
    job_title.append(title)
job_title[0:10]

['Immediate opening For Data Scientist/Data Analyst',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist / Data Analyst',
 'Explore job openings on Data Scientist!!',
 'Data Scientist - Python/MATLAB/Machine Learning Algorithms',
 'Senior Principal Software Engineer - IT ( Data Scientist )',
 'Senior Data Scientist',
 'Machine Learning Lead / Data Scientist',
 'Global Medical Data Scientist',
 'Advanced Architect - Data Scientist']

In [79]:
# 2nd we'll extract all the tags having the job_location
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="48a4bb6d-cf6d-4cfd-b6e3-d9e1f063d6a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="506f75fe-1125-41e8-9651-fe3b1a6e8dfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="2469701e-0397-440a-947f-118f46587928")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="c78edceb-1662-4c3d-9a4d-6942b48bda39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="b1314ecc-3d8b-42d9-956a-d6509a1e0463")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="14c3eeb4-2b7e-4ee5-8df5-256638431992")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="3ad26c60-79e2-4d70-9a6d-49d8d6278847")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="d8dbd5b4-0a9c-4693-8cef-795668209c39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="f2e2240a-50cc-4f75-ab82-87606f4f0e7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="e63f4f15-9b0b-4fad-8ee6-c549d2343187")>]

In [80]:
# 10 text of the job location are inside the tags which are extracted above
# now we'll run a loop to iterate over the tags to extract the text inside the empty list

for t in location_tags:
    location=t.text
    job_location.append(location)
job_location[0:10]

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Pune, Mumbai, Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [81]:
# 3rd we'll extract all the tags having the company_name
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="3f44e681-1978-4981-9c71-27caa43145bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="2a73b66b-2d8c-4b41-ab03-4fdbc9004225")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="deeeea3d-6df9-4d6f-b263-419776e9ae95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="b9bc2f45-db20-4f9c-a77d-483e7e286fd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="58b3814c-fb4b-46fa-92dc-a22d497bc80e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="320939ae-70d0-4d15-9f79-599586fb9708")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="33c0b20e-4b0e-414a-94ca-441b8937a811")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="9d4f2ef9-9c1d-414e-98ca-47b1357c5e23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="f7201e6c-ae43-4036-90a8-30b000e8e8d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="4102116b-a3c5-41da-b909-7fc1fe9a520d")>]

In [82]:
# 10 text of the companies name are inside the tags which are extracted above
# now we'll run a loop to iterate over the tags to extract the text inside the empty list

for t in companies_tags:
    company=t.text
    company_names.append(company)
company_names[0:10]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'Wrackle Technologies Pvt Ltd',
 'Altimetrik India Pvt. Ltd',
 'Bristlecone India Limited',
 'Wrackle Technologies Pvt Ltd',
 'Dell International Services IndiaPrivate Limited',
 'Philips Lighting',
 'Morgan Stanley Advantage Services',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Mphasis Limited']

In [83]:
# 4th we'll extract all the tags having the job_description
description_tags=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
description_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="d6ec023b-a9b5-4078-9525-4b40e55d39d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="05609698-758f-455a-8a36-28f168d2a4da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="8fd35a33-3f91-47c3-8930-6bd733d28f60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="637966e3-0918-489e-8dd4-673818d8e6f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="a5d5c23a-d52b-4c89-8709-80dae5aa0007")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="079145d7-0a3b-473d-b44f-6674728a3161")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="dc611097-e7fd-48dd-94b3-ff74edd70916")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="2ddeb7fa-e485-4c79-ac38-321767e1a097")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="a77509c7-2436-4113-8dcb-1f75bce5bada")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ac70026542d1da5f3809a6b44e54683", element="54f6a5cd-d9ac-4f43-b655-260e7c460c50")>]

In [84]:
# 10 text of the job_description are inside the tags which are extracted above
# now we'll run a loop to iterate over the tags to extract the text inside the empty list

for t in description_tags:
    description=t.text
    job_description.append(description)
job_description[0:10]

['In case you are trying to shift your career to Analytics and / or AI domain please do c...',
 'BS / MS/PhD in Computer Science, Statistics, Applied Math, or related areas from Premie...',
 'data analytics, or business intelligence experience Experience with conducting Experien...',
 'Hands-on python programming with experience designing data science products Hands-on ex...',
 'BS / MS/PhD in Computer Science, Statistics, Applied Math, or related areas from Premie...',
 'Proficiency in Python or R, Tableu especially on data wrangling, analysis, and modeling...',
 'PhD / Masters / BTech in computer science, computer engineering with 7+ years of demons...',
 'The Technology & Operations Risk (TOR) organization at Morgan Stanley has the following...',
 'medical voice of customer feedback, customer listening, feedback from surveys and resea...',
 'Experience working with enterprise architecture for the complex solutions solving busin...']

In [85]:
print(len(job_title),len(job_location),len(company_names),len(job_description))

20 20 20 20

In [86]:
# Creating a Data Frame to arrange all scrap data in given heading
jobs=pd.DataFrame({})
jobs['Title']=job_title
jobs['Location']=job_location
jobs['Company']=company_names
jobs['Description']=job_description

In [87]:
jobs[0:10]

,Title,Location,Company,Description
0,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,In case you are trying to shift your career to...
1,Lead Data Scientist - Machine Learning/ Data M...,Bengaluru,Wrackle Technologies Pvt Ltd,"BS / MS/PhD in Computer Science, Statistics, A..."
2,Data Scientist / Data Analyst,Bengaluru,Altimetrik India Pvt. Ltd,"data analytics, or business intelligence exper..."
3,Explore job openings on Data Scientist!!,"Pune, Mumbai, Bengaluru",Bristlecone India Limited,Hands-on python programming with experience de...
4,Data Scientist - Python/MATLAB/Machine Learnin...,Bengaluru,Wrackle Technologies Pvt Ltd,"BS / MS/PhD in Computer Science, Statistics, A..."
5,Senior Principal Software Engineer - IT ( Data...,Bengaluru,Dell International Services IndiaPrivate Limited,"Proficiency in Python or R, Tableu especially ..."
6,Senior Data Scientist,Bengaluru,Philips Lighting,"PhD / Masters / BTech in computer science, com..."
7,Machine Learning Lead / Data Scientist,Bengaluru,Morgan Stanley Advantage Services,The Technology & Operations Risk (TOR) organiz...
8,Global Medical Data Scientist,Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,"medical voice of customer feedback, customer l..."
9,Advanced Architect - Data Scientist,Bengaluru,Mphasis Limited,Experience working with enterprise architectur...

In [88]:
driver.close()

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company

In [89]:
# Connecting to web driver
driver = webdriver.Chrome(r"C:\Users\user\Desktop\PYTHON\chromedriver_win32\chromedriver.exe")

In [90]:
url ="https://www.naukri.com/data-scientist-jobs-in-noida?k=data%20scientist&l=noida"

In [91]:
# We'll open webpage with our web driver
driver.get(url)

In [92]:
# creating  empty list which will help to store required scrapped data in these list.

company_names=[]
posting_date=[]
company_ratings=[]

In [93]:
# 1st we'll extract all the tags having the company_name
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="0b9d2152-1405-4f10-a436-4a898af5bd39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="c89af3bb-9a28-4448-9798-0e1376eee905")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="dfa09c90-c57b-409a-92c6-c720ca1e314a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="ae3b89e2-7263-47be-b2eb-28b49d872b90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="4df44854-66be-4a49-b5c8-1dd1f43503ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="52182a45-6f57-47a8-b472-e2b8b85c519a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="ffc67e21-c5c3-4803-95ae-8cfb9e6b091e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="4471d3e3-054d-43bc-91ce-05b4270cc977")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="4a281c90-1eb5-4057-ba6f-e8b1a11e24f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="e3aa3374-708c-43f2-b2c0-f703b11f895c")>]

In [94]:
# 10 text of the companies name are inside the tags which are extracted above
# now we'll run a loop to iterate over the tags to extract the text inside the empty list

for t in companies_tags:
    company=t.text
    company_names.append(company)
company_names[0:10]

['tech mahindra ltd',
 'Jubna',
 'Durr AG',
 'Durr India',
 'D rr AG',
 'GABA Consultancy services',
 'GABA Consultancy services',
 'Hiring Joint',
 'NEC CORPORATION INDIA PRIVATE LTD',
 'NEC CORPORATION INDIA PRIVATE LTD']

In [95]:
# 2nd we'll extract all the tags having the job posting date
posting_tags=driver.find_elements_by_xpath("//span[@class='fleft fw500']")
posting_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="d9f8f365-55f6-409f-9c9f-c139b3cdc2ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="ddbe88d3-2594-40bc-8fc4-0b51e96a2c64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="bf676e3c-4e04-4792-9996-7634d83e8923")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="18ed3aae-bc1c-4aca-b895-2665e9a90615")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="feb70e76-e7a1-4183-9027-d852a448599e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="f06be229-673f-4084-89fb-5fb1a059aa1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="e3062b2c-f34f-4462-ae02-38b699588532")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="0c2ce35a-b426-438b-b0e8-07b853385c49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="47c0d837-5c41-487f-ad68-73bb26fd86ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="2e7ca538-3d92-40e4-9be9-3d77ec98db1f")>]

In [96]:
# 10 text of the job posting date are inside the tags which are extracted above
# now we'll run a loop to iterate over the tags to extract the text inside the empty list

for t in posting_tags:
    posting=t.text
    posting_date.append(posting)
posting_date[0:10]

['HOT JOB',
 '13 DAYS AGO',
 'HOT JOB',
 '2 DAYS AGO',
 'PREMIUM',
 '5 DAYS AGO',
 '5 DAYS AGO',
 'PREMIUM',
 '8 DAYS AGO',
 '11 DAYS AGO']

"""
How to get only the dates ?

"""

In [97]:
# 3rd we'll extract all the tags having the company_rating
rating_tags=driver.find_elements_by_xpath("//span[@class='starRating fleft dot']")
rating_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="8593df7e-4496-4f20-84ab-081b220fc612")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="d0ca6da7-bdab-4842-8615-33afc7b9b949")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="3c3594c8-5923-4c31-bd3a-bc3c472135a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b0741773e4f90437047613c52b93bb33", element="0613b301-6964-45ed-9e03-f4044adc76da")>]

In [98]:
# 10 text of the companies rating are inside the tags which are extracted above
# now we'll run a loop to iterate over the tags to extract the text inside the empty list

for t in rating_tags:
    rating=t.text
    company_ratings.append(rating)
company_ratings[0:10]

['3.5', '4.2', '5.0', '4.3']

In [99]:
print(len(company_names),len(posting_date),len(company_ratings))

20 33 4

"""
Length is not same, how to deal with it?
"""

In [100]:
# Creating a Data Series to arrange all scrap data in given heading 
# because the len is not the same of all the headings
jobs=pd.Series([])

jobs['Company']=company_names
jobs['Posting']=posting_date
jobs['Ratings']=company_ratings

In [101]:
jobs[0:10]

Company    [tech mahindra ltd, Jubna, Durr AG, Durr India...
Posting    [HOT JOB, 13 DAYS AGO, HOT JOB, 2 DAYS AGO, PR...
Ratings                                 [3.5, 4.2, 5.0, 4.3]
dtype: object

In [102]:
# converting data series to data frame
job=pd.DataFrame(zip(company_names,posting_date,company_ratings))

In [103]:
#Renaming the column name
job.columns = ['Company', 'Posting', 'Ratings']

In [104]:
job[0:10]

             Company      Posting Ratings
0  tech mahindra ltd      HOT JOB     3.5
1              Jubna  13 DAYS AGO     4.2
2            Durr AG      HOT JOB     5.0
3         Durr India   2 DAYS AGO     4.3

In [106]:
driver.close()

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [110]:
# Connecting to web driver
driver = webdriver.Chrome(r"C:\Users\user\Desktop\PYTHON\chromedriver_win32\chromedriver.exe")

In [111]:
url ="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"

In [112]:
# We'll open webpage with our web driver
driver.get(url)

In [113]:
# creating 5 empty list which will help to store required scrapped data in these list.


company_names=[]
number_salaries=[]
average_salary=[]
min_salary=[]
max_salary=[]

In [115]:
# 1st we'll extract all the tags having the company_name
companies_tags=driver.find_elements_by_xpath("//p[@class='m-0']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="ec42eb52-a76c-443d-b1c0-f3e4718b0a08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="187cfbdf-710b-450b-be1a-3d87b4004893")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="77918a7c-9969-40a7-872a-146d6933fde8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="87641374-39b4-418b-87b5-45079dbb88f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="adc922f8-b5d0-416a-a824-76e0a6ccb7e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="e4e217f6-d0eb-4aa4-ad1a-ba89a3501be8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="19b1edad-b5e4-4ec9-b667-181dbd390aee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="5a22112e-9a04-4338-9de4-16cf866a88f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="4af7e451-945f-4715-b95e-d0aa771c3638")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="29b9e147-9150-4538-aa67-824fb7cb8ffc")>]

In [116]:
# 10 text of the companies name are inside the tags which are extracted above
# now we'll run a loop to iterate over the tags to extract the text inside the empty list

for t in companies_tags:
    company=t.text
    company_names.append(company)
company_names[0:10]

['Data Scientist',
 'Delhivery',
 'See 13 salaries from all locations',
 'Data Scientist',
 'Accenture',
 'See 31 salaries from all locations',
 'Data Scientist',
 'IBM',
 'See 62 salaries from all locations',
 'Data Scientist']

In [ ]:
"""
Un wanted data like "Data Scientist"
"""

In [118]:
# 2nd we'll extract all the tags having the number salary
number_salary_tags=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0']")
number_salary_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="bc264e12-ce07-4b69-be20-a43b1d19a52c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="5a78f4dc-8398-42c4-9880-be28b06c1f57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="fb66cb39-c3b5-416a-b68a-875a6ee4852b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="efd44549-626d-4484-890d-5e305279821f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="929d08da-0912-4b1e-bf86-8aa9bfd7d1c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="878bbdd8-f7ef-4cc3-846a-585cc3e754aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="f1c1e5d3-fba0-4122-9833-34c9951569be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="68aec3d8-5671-4938-beb1-6b41086a3980")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="d9138e1d-c054-4130-a400-cdf6b10482f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="34894835-97a6-474c-a38f-a4dc51d75d6c")>]

In [120]:
# 10 text of the number salary are inside the tags which are extracted above
# now we'll run a loop to iterate over the tags to extract the text inside the empty list

for t in number_salary_tags:
    nsalary=t.text
    number_salaries.append(nsalary)
number_salaries[0:10]

['12 salaries',
 '9 salaries',
 '7 salaries',
 '7 salaries',
 '7 salaries',
 '7 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries']

In [122]:
# 3rd we'll extract all the tags having the average salary
average_tags=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
average_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="3d118f52-cbd6-4a3a-88b6-aef25ed04a48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="fe353f4e-0fa4-4a0a-93d8-8f1b93aa413c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="9c115146-f901-439d-8c0c-d3eee3f7532f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="946e3edb-608f-4030-99ff-cd897edfd9a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="8f24be65-02f4-4d1d-ae8a-2e34ae7bb7e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="414d8321-e349-485a-a476-76930b60f64e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="3b77f284-62d5-4d91-aa99-40b17e51fa16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="92527269-2d38-4590-ba81-f3d9d155bbb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="1be37ed9-252c-4c4a-bd50-76fe55f1e442")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="34daee7f-e885-4169-b94f-4c4fd03f07fe")>]

In [123]:
# 10 text of the average salary are inside the tags which are extracted above
# now we'll run a loop to iterate over the tags to extract the text inside the empty list

for t in average_tags:
    average=t.text
    average_salary.append(average)
average_salary[0:10]

['₹ 12,83,026\n/yr',
 '₹ 11,19,272\n/yr',
 '₹ 7,52,445\n/yr',
 '₹ 8,28,000\n/yr',
 '₹ 13,21,601\n/yr',
 '₹ 20,889\n/mo',
 '₹ 6,33,432\n/yr',
 '₹ 9,96,446\n/yr',
 '₹ 7,71,320\n/yr',
 '₹ 12,669\n/mo']

In [131]:
# 4th we'll extract all the tags having the minimum salary
minimum_tags=driver.find_elements_by_xpath("//div[@class='col-3 offset-1 d-none d-md-block']")
minimum_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="6fa9503c-f7c0-4a88-8acb-6e0e0928b186")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="422b8cc1-8069-44e2-b287-25704f5d1342")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="b9e2f566-a615-408d-99f4-bcffb526464d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="26bb30ea-ebdb-49a9-9eb5-126b412adf3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="2e1999e3-0cc1-4831-a9f9-3cf59f0232aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="393dad11-ab1d-4c0d-8cdf-64e941a949f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="e96cc242-98e1-40fa-a8ba-5e66ac931325")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="53ff6e5d-7c6d-4e8f-865f-07fa32358b44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="d731fc13-542f-443f-a5fb-86947e77678f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7d509e5d840ca2f4f59cdad007cd1ccc", element="633bd1ed-b0af-4e11-9622-ea0d02391de6")>]

In [132]:
# 10 text of the minimum salary are inside the tags which are extracted above
# now we'll run a loop to iterate over the tags to extract the text inside the empty list

for t in minimum_tags:
    minimum=t.text
    min_salary.append(minimum)
min_salary[0:10]

['₹705K\n₹11,495K',
 '₹571K\n₹2,200K',
 '₹580K\n₹2,700K',
 '₹468K\n₹1,595K',
 '₹708K\n₹1,557K',
 '₹14K\n₹22K',
 '₹488K\n₹1,000K',
 '₹784K\n₹1,250K',
 '₹496K\n₹1,138K',
 '₹8K\n₹20K']

"""
Minumum and maximum are scrapping together, How to seperate them?
"""